
.tableviewer ul, .tableviewer li {
	list-style: none;
}

.tableviewer ul {
	padding-left: 0;
}

.tableviewer li.value {
	padding-left: 25px;
}

.tableviewer li.table, .tableviewer li.array {
	padding-left: 19px;
}

.tableviewer > ul {
	padding-left: 0;
}

.tableviewer button.expanded, .tableviewer button.collapsed {
	background: none;
    border: none;
    outline: none;
}

.tableviewer button.expanded::before {
	content: "▼";
}

.tableviewer button.collapsed::before {
	content: "▶";
}

.tableviewer button.collapsed + ul {
	display: none;
}


.tableviewer .key::after {
	content: ":";
	display: inline-block;
	padding: 0 10px;
}

.tableviewer span.type {
	text-transform: capitalize;
	color: #aaa;
	font-size: x-small;
	margin-left: 10px;
	display: inline-block;
    bottom: 2px;
    position: relative;
}

.tableviewer span.type::before {
	content: "(";
}

.tableviewer span.type::after {
	content: ")";
}