
.tableviewer ul, .tableviewer li {
	list-style: none;
}

.tableviewer ul {
	padding-left: 0;
}

.tableviewer li.boolean, .tableviewer li.number, .tableviewer li.string {
	padding-left: 25px;
}

.tableviewer li.table, .tableviewer li.array {
	padding-left: 19px;
}

.tableviewer > ul {
	padding-left: 0;
}

.tableviewer button.expanded, .tableviewer button.collapsed {
	background: none;
    border: none;
    outline: none;
}

.tableviewer button.expanded::before {
	content: "▼";
}

.tableviewer button.collapsed::before {
	content: "▶";
}

.tableviewer button.collapsed + ul, .tableviewer button.collapsed + span + ul {
	display: none;
}


.tableviewer .key::after {
	content: ":";
	display: inline-block;
	padding: 0 10px;
}

.tableviewer span.type {
	text-transform: capitalize;
	color: #aaa;
	font-size: x-small;
	margin-left: 13px;
	display: inline-block;
    bottom: 2px;
    position: relative;
}

.tableviewer .number span.type {
	margin-left: 0;
}


.tableviewer input[type=number] {
	position: relative;
	border: none;
	outline: none;
	padding-left: 10px;
	width: 100%;
	text-overflow: ellipsis;
}

.tableviewer li.string, .tableviewer li.number {
	display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.tableviewer li.string .key, .tableviewer li.number .key {
	display: flex;
}

.tableviewer input[type="number"]::-webkit-outer-spin-button, 
.tableviewer input[type="number"]::-webkit-inner-spin-button {
	position: absolute;
	left: -5px;
}


.tableviewer input[type=text] {
	width: 100%;
	border: none;
	outline: none;
	text-overflow: ellipsis;
	margin: 0 3px;
}

.tableviewer .phantom-input {
	position: absolute;
	visibility: hidden;
	-webkit-user-select: none;
}

.tableviewer input, .tableviewer .phantom-input {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
}

.tableviewer .array ul .type {
	display: none;
}
